/*  baking.html style elements */
body, html {
	height: 100%;
	margin: 0;
	background-color: #ddffcc;
	font-family: 'Nunito Sans', sans-serif;
	text-align: left;
}

.container {
	position: relative;
	text-align: center;
	color: white;
}

.main {
	position: relative;
	top: 5%;
	left: 5%;
	width: 50%;
}

.paragraph {
	position: relative;
	top: 10%;
	width: 80%;
}

.bottom {
    position: absolute;
	top: 95%;
	left: 5%;
	text-align: left;
}

.pic {
    position: absolute;
	top: 10%;
	left: 60%;
}

/* .topnav {
	background-color: #ddffcc;
	overflow: auto;
	width: 100%;
}

.topnav a {
	float: left;
	display: block;
	color: #092405;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 17px;
} */

.dropbtn {
	background-color: #448b20;
	color: #092405;
	padding: 12px;
	font-size: 17px;
	border: none;
	cursor: pointer;
	position: absolute;
	float: right;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #f1fcec;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1fcec;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: #092405;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: rgb(255, 255, 255)}

.show {display: block;}

/* ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

li a {
	position: inherit;
	padding: 12px;
	text-decoration: none;
	color: #ddffcc;
	display: block;
	width: 30%;
} */

/* li a:hover {
	background-color: #f1fcec;
} */
